.watermark {
display: none !important;
}

.body {
  background-image: ("/public/mediate.background.png");
}

.logo_light png {
    width: 500px; /* Set your desired width */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto; /* Center the logo */
}